body {
        font-family: "UnifrakturMaguntia", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: xx-large;
    }
.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    background-image: url(download.jpg);
    background-size: cover;
}
.wrapper > * {
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    flex: 1 100%;
}
.wrapper h1{
    object-fit: cover;
    color: darkred;
}
.wrapper p{
    object-fit: cover;
    color: yellow;
}
.header {
    height: 240px;
    width: 100%;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: center;
}
.nav {
    height: 100px;
}
.footer {
    height: 300px;
}
.main {
    height: 300px;
    padding: 40px;
    text-align: center;
}
.aside1 {
    height: 300px;
}

@media all and (min-width: 800px){
    .main{
        flex: 2;
    }
    .aside1{
        order: 2;
        background-repeat: no-repeat;
        background-size: contain; 

    }
    .main{
        order: 1;
    }
    .footer{
        order: 4;
    }
    .nav{
        order: 1;
    }
}
@media all and (min-width: 600px){
    .aside1{
        flex: 1;
        
    }
}